# Configurações SMTP
# Copie este ficheiro para .env e preencha com os seus valores
SMTP_SERVER=smtp.ftpweb.dev
SMTP_PORT=465
SMTP_USER=odo@ftpweb.dev
SMTP_PASSWORD=coloque_a_password_no_ficheiro_.env

# API de Destinatários (Opcional)
# RECIPIENTS_API_URL=https://api.exemplo.com/v1/emails
