# Configurações SMTP
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seu_email@gmail.com
SMTP_PASSWORD=coloque_a_password_no_ficheiro_.env

# API de Destinatários (Futuro)
# RECIPIENTS_API_URL=https://api.exemplo.com/v1/emails
